doctype html
head
  link(rel='stylesheet' href='css/style.css')
.loginPage
  .loginPage--container
    form.form.loginForm
      .form__group
        label(for='name') Email
        input#email(type='text' autocomplete="off")
        button.btn Submit
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
  script(src='/js/forgotPassword.js')
  script(src='/js/alert.js')