doctype html
head
  link(rel='stylesheet' href='css/style.css')
.loginPage
  .loginPage--container
    form.form.loginForm
      .form__group
        label(for='name') Reset Token
        input#resetToken(type='text' autocomplete="off")
      .form__group
        label(for='name') Password
        input#password(type='password' autocomplete="off")
      .form__group
        label(for='name') Confirm Password
        input#confirmPassword(type='password' autocomplete="off")
        button.btn Submit
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
  script(src='/js/resetPassword.js')
  script(src='/js/alert.js')